* {
  margin: 0;
  padding: 0;
}

.container {
  height:96.6vh;
  width:100%;
  background: linear-gradient(135deg, #020024 0%, #090979 35%, #00d4ff 100%);
  padding: 10px;
}

.rinput {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #d9e8e8;
  margin: 30px 0;
}

.rinput label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.1em;
  color: #d9e8e8;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.rinput input:focus~label,
.rinput input:valid~label {
  top: -5px;
}

.rinput input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #d9e8e8;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

h1 {
    text-align: center;
  }
  
form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
  
input, button {
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: .5s;
}

.btn:hover {
  background: #fff;
  color: #162938;
}